Authlib==0.14.3
cffi==1.14.5
click==8.0.0
cryptography==3.4.7
Flask==2.0.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
importlib-metadata==4.0.1
inflect==5.3.0
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
psycopg2-binary==2.8.6
pycparser==2.20
python-dotenv==0.17.1
sqlacodegen==2.3.0
SQLAlchemy==1.4.15
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
